<div class="well-header bg-teal"><h3>Revenue</h3></div>
<div class="well">
  <div id="revenue-chart"></div>
</div>

<div class="row">
  <div class="span8">
    <div class="well-header bg-lime"><h3>Visits</h3></div>
    <div class="well">
      <div id="visits-chart"></div>
    </div>
  </div>
  <div class="span4">
    <div class="well-header bg-orange"><h3>Visits Distribution</h3></div>
    <div class="well">
      <div id="distribution-chart"></div>
    </div>
  </div>
</div>