<table class="table table-striped">
  <tr>
    <% if is_admin? %>
      <th>Name</th>
      <th>Rate</th>
    <% end %>
    <th>Date</th>
    <th>Total Visits</th>
    <th>Premium Visits</th>
    <th>Revenue</th>
  </tr>

<% @visits.each do |visit| %>
  <tr>
    <% if is_admin? && !visit.user.nil? %>
      <td><%= visit.user.profile.campaign %></td>
      <td><%= visit.user.profile.rate %></td>
    <% end %>
    <td><%= l (visit.created_at.to_date) %></td>
    <td><%= visit.total.to_i %></td>
    <td><%= visit.premium.to_i %></td>
    <td>$<%= visit.totalrevenue.round(2) %></td>
  </tr>
<% end %>
</table>