<ul class="thumbnails">
	<li id="total-visits" class="span3 tile bg-lime">
		<h2><%= get_total_visits %></h2>
		<h4>Total Visits</h4>
	</li>
	<li id="premium-visits" class="span3 tile bg-purple">
		<h2><%= get_premium_visits %></h2>
		<h4>Premium Visits</h4>
	</li>
	<li id="rate" class="span3 tile bg-green">
		<h2><%= is_admin? ? 0 : @user.profile.rate %></h2>
		<h4>Rate</h4>
	</li>
	<li id="revenue" class="span3 tile bg-teal">
		<h2><%= get_total_revenue %></h2>
		<h4>Revenue</h4>
	</li>
</ul>

<% if is_admin? || @user.profile.level == "Platinium" %>
<ul class="thumbnails">
	<li id="total-referral-visits" class="span6 tile bg-blue">
		<h2><%= get_referral_visits %></h2>
		<h4>Referral Visits</h4>
	</li>
	<li id="referral-revenue" class="span6 tile bg-orange">
		<h2><%= get_referral_revenue %></h2>
		<h4>Referral Revenue</h4>
	</li>
</ul>
<% end %>

