<% content_for(:title, 'Reports') %>

<div class="alert alert-info">
  All Numbers are subject to review and finalized numbers may differ slightly at the end of week.
  <a class="close" data-dismiss="alert" href="#">&times;</a>
</div>

<div class="container">
  <%= render "tiles" %>
</div>

<%= render partial: 'shared/user_date_form',locals: { path: visits_path } %>

<% if !@user.nil? %>
	<%= render 'charts' %>
	<%= javascript_tag do %>
	  window.visits_data = <%= raw @visits.to_json %>
	<% end %>

	<%= javascript_tag do %>
	  window.referral_data = <%= raw @referral_visits.to_json %>
	<% end %>	
<% end %>

