<%= simple_form_for(@user, html: {class: 'well'}) do |f| %>

  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <div class="form-inputs">
  	<%= f.input :name %>
  	<%= f.input :email %>
  	<% if action_name ==  'edit'%>
  		<%= f.input :password %>
  		<%= f.input :password_confirmation %>
  	<% end %>
    <%= f.simple_fields_for :profile do |p| %>
      <%= p.input :level, collection: user_levels %>
      <%= p.input :rate, label: 'Premium Rate' %>
      <%= p.input :nprate, label: ' Non Premium Rate' %>
      <%= p.input :campaign %>
      <%= p.input :source %>
      <%= p.input :referral_id, collection: get_platinium_users %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-medium btn-success' %>
  </div>
<% end %>
