<% content_for(:title, 'Show User') %>
<p id="notice"><%= notice %></p>

<p><%= @user.name %></p>
<p><%= @user.email %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
