<div class="well">
  <%= simple_form_for( path, method: 'get', html: { class: 'form-inline' }) do |f|%>

   <% if is_admin? %>
     <div class="input-prepend">
      <span class="add-on">User</span> 
      <%= f.input_field :user, collection: get_all_users, required: false %>
    </div>
   <% end %>

   <div class="input-prepend">
    <span class="add-on">From</span> 
    <%= f.input_field :start_date,
             as: :string, 
              class: 'start-date date-picker', value: l(@start_date)
  	%>
  </div>

  <div class="input-prepend">
   <span class="add-on">To</span> 
    <%= f.input_field :end_date,
             as: :string, 
             class: 'end-date date-picker', value: l(@end_date)
    %>
  </div>

  <%= f.button :submit, 'Update' , class: 'btn btn-info' %>
  
  <% end %>
</div>