<%= simple_form_for(@payment, html: {class: 'well'}) do |f| %>

  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <div class="form-inputs">
  	<%= f.input :user_id, collection: get_all_users %>
  	<%= f.input :amount %>
  	<%= f.input :period %>
  	<%= f.input :paid %>
  	<%= f.input :paid_on %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-medium btn-success' %>
  </div>
<% end %>
