<table class="table table-striped table-bordered" id="example">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Period</th>
      <th>Status</th>
      <th>Paid on</th>
      <% if is_admin? %>
        <th>Profile</th>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.amount %></td>
        <td><%= payment.period %></td>
        <td>
          <% if payment.paid %>
            Paid
            <td><%= payment.paid_on.strftime("%d/%m/%Y") %></td>
          <% else %>
            Pending
            <td>Pending</td>
          <% end %>
        </td>
        <% if is_admin? %>
          <td>
            <% if !payment.profile.nil? %>
              <%= payment.profile.campaign %>
              <% end %>
          </td>
          <td>
            <%= link_to 'Edit', edit_payment_path(payment) %>
            <%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @payments %>