<% content_for(:title, 'Payments') %>

<%= render partial: 'shared/user_date_form',locals: { path: payments_path } %>

<% if !is_admin? || @user %>
	<div class="row">
		<div class="span6">
			<h3>Balance: <%= get_balance %></h3>
		</div>
		<div class="span6">
			<h3>Last Payout: <%= get_last_payout %></h3>
		</div>
	</div>
<% end %>

<%= render 'table' %>