<table class="table table-striped">
  <tr>
    <th>Campaign</th>
    <th>Visits</th>
    <th>Date</th>
  </tr>
<% @pending_visits.each do |visit| %>
  <tr>
    <td><%= visit.campaign %></td>
    <td><%= visit.visits %></td>
    <td><%= l (visit.created_at.to_date) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @pending_visits %>