<% content_for(:title, 'Pending Users') %>
<% unless @pending_visits.nil? %>
	<%= link_to 'Add Pending Users', pending_users_path, class: "btn btn-medium btn-info", method: :post %>
<% end %>

<%= render 'table' %>

