<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) and msg.length > 0 %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}"  %>
    </div>
  <% end %>
<% end %>