<!DOCTYPE html>
<html>
<head>
 	<title><%= content_for?(:title) ? yield(:title) + " - " : "" %> Get Viral</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield(:header) if content_for?(:header) %>
</head>
<body>
	<div class="container">
		<%= render 'layouts/navigation' %>
		
		<%= render 'layouts/messages' %>

		<%= yield %>

	</div>
</body>
</html>
